@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.custom-shadow {
  box-shadow: 2px 1px 17px -2px rgba(0, 0, 0, 0.45);
}

.card-shadow {
  box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.45);
}
